.header{
    display: flex;
   justify-content: space-between;
   border: 1px solid black;
}
.logo{
    width: 7rem;
    /* padding: 1rem; */
}
.nav-items>ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    font-size: 1.3rem;
}
.nav-items>ul>li{
    padding: 2rem;
}